body{
    width: 100%;
    margin:0px;
    padding:0px;
    display:grid;
    height: 100vh;
    grid-template-columns: 2fr fr ;
    grid-template-rows:0f;
    grid-template-areas:
    articles
}


img{
    height: 150px;
    width: 150px;
}

